.modal {
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(67 113 189 / 67%);; 
    display: block;
  }

  /* Modal Content */
.modalContent {
    background-color: #fefefe;
    margin: auto;
    padding: 10px 10px 40px 40px;
    border: 1px solid #888;
    width: 800px;
    border-radius: 10px 10px 10px 10px;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }

  .title{
    font-weight: bold;
    font-family: sans-serif;
    font-style: normal;
    font-size: 35px;
    color: #09295e;
  }

  .textField {
    font-family: sans-serif;
    font-style: normal;
    font-size: 19px;
    margin: 0px 0px 10px 0px;
  }

  .flag {
      position: relative;
      width: 170px;
      height: 120px;
  }

